   #dot {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background-color: crimson;
    border-radius: 50%;
    transition: all .6s ease-in-out;
    text-align: center;
    color: white;
  }

  #timer {
    position: absolute;
    top: 150px;
    left: 150px;
    opacity: .2;
    font-size: 60px;
  }
