<button mat-raised-button color="primary"
  [ngClass]="{active: current === example}"
  (click)="current=example"
  [routerLink]="example" *ngFor="let example of examples">
    {{example}}
</button>
<hr>
<router-outlet></router-outlet>
