<h3>Przetwarzanie strumienia danych. Poniżej wybrane operatory.</h3>

<mat-card>
    <div class="example-button-row">
        <div *ngFor="let type of operators | keyvalue">
            {{type.key}} =>
            <button mat-raised-button [disabled]="onProgress | async" color="primary"
                [ngClass]="{active: current === operator.key}" (click)="run(operator.value)"
                *ngFor="let operator of type.value | keyvalue">
                {{operator.key}}
            </button>
        </div>
    </div>
    <h4 #description></h4>
    <pre #content></pre>
</mat-card>
