<h3>Tworzenie strumieni.</h3>
<div style="display: inline-grid; grid-template-columns: 1fr 1fr;">
  <p>
    Strumienie dzielimy na 2 podstawowe grupy: Observable i Subject.
    <br>
    Subjectów są 4 rodzaje.
    <br>
    Tabelka pokazuje podstawowe różnice.
  </p>
</div>
<img src="assets/oLsZ4.png" width="50%">
<br>
<br>
<mat-card>
  <div *ngFor="let type of streamTypes | keyvalue">
    {{type.key}} =>
    <button mat-raised-button [disabled]="onProgress | async" color="primary"
      [ngClass]="{active: current === stream.key}" (click)="run(stream.value)"
      *ngFor="let stream of type.value | keyvalue">
      {{stream.key}}
    </button>
  </div>
  <h4 #description></h4>
  <pre #content></pre>
</mat-card>
