.container {
    padding: 10px;
}

.dashboard-card {
  margin: 15px;
}

.dashboard-card-content {
  text-align: center;
}

::ng-deep button[mat-raised-button]{
  margin: 2px;
}

::ng-deep .mat-card-header-text {
    padding: 0;
    margin: 0 !important;
}

.mat-tab-link {
  min-width: 0;
}
