<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let item of nav" [routerLink]="item" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive" [innerHTML]='item | uppercase'>
        </a>
      </nav>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <router-outlet></router-outlet>
    <br>
    v. {{version}}
    <course-footer courses></course-footer>
  </mat-card-content>
</mat-card>
