<h1>Cars racing</h1>
<div *ngIf="game$|async as game" style="display: flex;">
  <div>
    <div *ngFor="let row of game[0].frame">
      <span *ngFor="let item of row" class="dot" [ngClass]="{bgcar: item === 1, bgplayer: item===2}">
        {{item !== 0 ? item : ''}}
      </span>
    </div>
    <div class="road" style="position: relative; top: -190px;">
      <div *ngFor="let row of [1,2,3,4,5,6,7]; let idx=index" class="dotted" [ngClass]="{x: game[0].lives > 0}"
        [ngStyle]="{'margin-left.px': idx * 9}"></div>
    </div>
  </div>
  <div>
    <div>score: {{game[0].score}}</div>
    <div>lives: {{game[0].lives}}</div>
    <div>duration: {{game[0].duration}}</div>
    <div>level: {{game[0].level}}</div>
  </div>
  <div>
    <pre>{{game[1]|json}}</pre>
  </div>
  <div>
    <pre>{{game[2]|json}}</pre>
  </div>
</div>
