 .road {
    width: 100px;
    height: 180px;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  .dotted {
    margin-top: -100px;
    height: 300px;
    border-left: 2px dashed yellow;
    position: absolute;
  }

  .dotted.x {
    animation: road-moving 1s infinite linear;
  }

  .dot {
    display: inline-block;
    margin-left: 3px;
    height: 12px;
    width: 6px;
    border-radius: 40%;
    /* background-color: white; */
  }

  @keyframes road-moving {
    100% {
      transform: translateY(100px);
    }
  }

  #game {
    border:2px solid pink;
    background-color: yellow;
  }

  .bgcar {
    background-color: red;
  }

  .bgplayer {
    background-color: blue;
  }
